/* акцентный цвет #2196F3 */
/* цвет второй части лого #000000 */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #ffffff */
/* цвет почты и тел. rgba(255, 255, 255, 0.6); */
/* цвет кнопки при ховере и фокусе #188ce8 */

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --secondary-color: #212121;
  --primary-white-color: #ffffff;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --bgc-btn: #188ce8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;

  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}
/* Логотип в шапке */
.accent-logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent-logo:hover,
.accent-logo:focus {
  color: var(--logo-color);
}

.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.link-logo .logo:hover,
.link-logo .logo:focus {
  color: var(--accent-color);
}
.link-logo {
  text-decoration: none;
}
/* Навигация сайта */
.site-nav .link,
.site-nav .link-current,
.contacts a {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  color: var(--accent-color);
}
.site-nav .link-current:hover,
.site-nav .link-current:focus {
  color: var(--secondary-color);
}
/* Контакты */
.contacts a {
  color: var(--primary-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Герой */
/* фон для того, чтобы было видно заголовок, потом уберу*/
.page-caption {
  color: var(--primary-white-color);
  background-color: #000000;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Кнопка "Заказать услугу" */
.primary-button {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--bgc-btn);
}
/* Наши особенности */
.page-subtitle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Наша сфера деятельности */
.page-subject {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */
.section-team {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}

.aside-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
}

/* Футер */
/* Логотип в футере */

.footer-logo {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);
  /* фон для "студио" задан,чтобы было видно белый цвет, потом уберу */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}
/* Адрес */
.location {
  color: var(--primary-white-color);
  background-color: var(--secondary-color);

  font: weight 400px;
  font-size: 14px;
  line-height: 1.71;
}
/* Почта и телефон */
.footer-contacts a {
  color: var(--contacts-color);
  background-color: var(--secondary-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  text-decoration: none;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

/* Страница Портфолио */
/* Фильтр*/
.items-btn,
.items-btn-current {
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.items-btn:hover,
.items-btn:focus {
  color: var(--primary-white-color);
}
/* Контент портфолио */
.headline {
  color: var(--secondary-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-block {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
